<!doctype html>
<html>
  <head>
    <title>Breast Cancer Prediction</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h2>Breast Cancer Prediction System</h2>

    <form method="POST">
      <input
        type="number"
        step="any"
        name="radius"
        placeholder="Radius Mean"
        required
      /><br />
      <input
        type="number"
        step="any"
        name="texture"
        placeholder="Texture Mean"
        required
      /><br />
      <input
        type="number"
        step="any"
        name="perimeter"
        placeholder="Perimeter Mean"
        required
      /><br />
      <input
        type="number"
        step="any"
        name="area"
        placeholder="Area Mean"
        required
      /><br />
      <input
        type="number"
        step="any"
        name="concavity"
        placeholder="Concavity Mean"
        required
      /><br /><br />

      <button type="submit">Predict</button>
    </form>

    <h3>{{ prediction }}</h3>
  </body>
</html>
